* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}



header {
    padding: 20px;
    background-color: #fafafa;
}



/*1st variant*/
.main._variant1 {
    min-height: 100%;
    padding-bottom: 100px;
    border: 1px solid;
}

.section._variant1 {
    padding: 20px;
}

.footer._variant1 {
    height: 100px;
    margin-top: -100px;
    background-color: #ccc;

    /*another approach*/
    /*height: 100px;
    position: relative;
    top: -100px;
    background-color: #ccc;*/
}
/******************/



/*2d variant*/
.main._variant2  {
    position: relative;
    min-height: 100%;
    border: 1px solid;
}

.section._variant2 {
    padding: 20px 20px 120px;
}

.footer._variant2 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}
/*****************/



/*3rd variant*/
.main._variant3 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header._variant3 {
    background: #bce8f1;
}

.section._variant3 {
    flex-grow: 1;
    padding: 20px;
}

.footer._variant3 {
    min-height: 100px;
    background: #6ce26c;
}
/********************/



/*not required styles for sticky footer*/
.variant1,
.variant2,
.variant3 {
    height: 100%;
    width: 25%;
    float: left;
}

h2 {
    margin: 0;
    text-align: center;
}

.buttons {
    float: left;
    width: 25%;
    text-align: center;
}

.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
}