/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;  padding: 0; border: 0;  font-size: 100%;    font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {  line-height: 1;}ol, ul {    list-style: none;}blockquote, q {   quotes: none;}blockquote:before, blockquote:after,q:before, q:after {   content: '';    content: none;}table {  border-collapse: collapse;  border-spacing: 0;} strong {font-weight: 700}

h1 {
    font-family: Gabriola, serif;
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 1.1;
    -webkit-font-feature-settings: "liga", "dlig";
    text-align: center;
}

h3 {
    font-family: Gabriola, serif;
    margin: 30px 0 20px;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
    -webkit-font-feature-settings: "liga", "dlig";
}

.outer {
    padding: 20px;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

.center {
    text-align: center;
}

.wrap {
    text-align: center;
    font-size: 0;
}

.test1,
.test2,
.test3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 200px;
    margin: 1% 10%;
    border: 1px solid red;
    line-height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.test2,
.test3{
    border-color: green
}

.wrap span {
    display: inline-block;
    vertical-align: middle;
    font: 14px/22px Tahoma;
}

.wrap__line-through {
    text-decoration: line-through;
    color: red;
}

.wrap__link {
    font-size: 16px;
}

.input {
    display: inline-block;
    width: 220px;
    padding: 5px 10px;
    border: 1px solid #333;
    font-size: 16px;
}

.input_add {
    margin-top: 20px;display: inline-block;
    width: 220px;
    padding: 5px 10px;
    border: 1px solid #333;
    font-size: 16px;
}

.list__item {
    padding: 10px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list__input {
    display: none;
}

.list__item:hover  .list__edit {
    display: inline;
}

.list__item._hidden span,
.list__item._hidden:hover span {
     display: none;
}

.list__item._hidden .list__delete,
.list__item._hidden:hover .list__delete {
    display: inline-block;
    vertical-align: middle;
}

.list__item._hidden .list__input {
    display: inline-block;
}

.delete {

}

.wrapper {
    max-width: 320px;
}


.list__edit,
.list__delete {
    display: none;
    margin: 0 10px;
    color: blue;
}