* {
	padding: 0;
	margin: 0;
}

body {
    font-size: 100%; 
}

.wrap {
    max-width: 37.5em;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    font-family: Gabriola, serif; /* available on Windows 7, and on Mac OS */
    margin: 30px;
    font-size: 2.5em;
    line-height: 1.1;
    -webkit-font-feature-settings: "liga", "dlig";
}

h3 {
    font-family: Gabriola, serif; /* available on Windows 7, and on Mac OS */
    margin: 30px 0 0 30px;
    font-size: 1.5em;
    line-height: 1.1;
    -webkit-font-feature-settings: "liga", "dlig";
}

p {
    margin: 20px 0;
    padding: 0 30px;
    font: 0.875em/1.7 Helvetica, Arial, Tahoma, sans-serif;
    color: #000;
}

img {
	display: none;
	width: 300px;
	height: 300px;
}

.wrap__text:nth-of-type(1) {
    margin-top:  20px;
}
.syntaxhighlighter div.toolbar {
    display: none !important;
}
.example-link {
    position: relative;
    display: inline-block;
    margin: 10px 20px 0 30px;
    font: 16px/1 Arial;
} 
.example-link:hover {
    text-decoration: none;
}
.example-link:before {
    content:'';
    position: absolute;
    left: -12px;
    top: 2px;
    border-top: 6px solid transparent;
    border-left: 8px solid #008200;
    border-bottom: 6px solid transparent;
}  