<nav class=nav>

    <ul class=nav__list>
        <li class=nav__list-item ng-repeat="nav in grinz.navs">
            <a class=nav__list-item-link href=#html-css id=html-css><strong>{{nav.header}}</strong></a>
            <div ng-class="nav.header === 'jQuery' ? 'nav__dropdown_right-rows' : 'nav__dropdown'">
                <ul class=nav__list-inner ng-repeat="list in nav.lists">
                    <li class=nav__list-inner-item ng-repeat="link in list.links">
                        <a href="{{link.link}}" class="nav__list-inner-link">
                            {{link.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</nav>