* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    width: 60%;
    margin: auto;
}

.ellipsis {
    line-height: 16px;
    margin-bottom: 20px;
}

header {
    margin-bottom: 40px;
    text-align: center;
}

.calendar {
    display: flex;
    flex-direction: column;

    &-wrapper {
        margin: 30px;
    }

    &-header {
        margin-bottom: 15px;
    }

    &__month {
        display: table;
    }

    &__week,
    &__week-header {
        display: table-row;
    }

    &__day,
    &__day-header {
        display: table-cell;
        padding-right: 40px;
        padding-bottom: 35px;

        &._current {
            color: red;
        }

        &._passed {
            color: gray;
        }

        &._clicked {
            color: deepskyblue;
        }
    }

    &__panel {
        display: flex;
        margin-bottom: 20px;

        &-dates {
            display: flex;
            justify-content: center;
            min-width: 140px;
        }

        &-month {
            margin-right: 4px;
        }

        &-prev {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            line-height: 20px;
            cursor: pointer;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAv0lEQVQoU42QvQrCQBCEZ04UBMEcGGzEyr/CH9DOJ4h5VDtB4hsoCNepENAitZCLWNm4ckIkWrnVsjMMOx83eroC2Zf0NglxfqAwjPQsIdmGyDmwpkdAcp0ROj68+omKDRGJQ2sGH9EtW7SqmddMqOiLyCG0ZuTuzF1rjLTyKrEz4Cn7e2bmH9GZlkCppmdXkhqC3X+iiy155RhKfcf+PHQMrRm+HypWASRepIUqBQiXwJruFwSHT6gGSLPxL74XUx1U623iUlsAAAAASUVORK5CYII=") 0 0 no-repeat;
            background-position: 50%;
            transform: rotate(-180deg);
        }

        &-next {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            line-height: 20px;
            cursor: pointer;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAv0lEQVQoU42QvQrCQBCEZ04UBMEcGGzEyr/CH9DOJ4h5VDtB4hsoCNepENAitZCLWNm4ckIkWrnVsjMMOx83eroC2Zf0NglxfqAwjPQsIdmGyDmwpkdAcp0ROj68+omKDRGJQ2sGH9EtW7SqmddMqOiLyCG0ZuTuzF1rjLTyKrEz4Cn7e2bmH9GZlkCppmdXkhqC3X+iiy155RhKfcf+PHQMrRm+HypWASRepIUqBQiXwJruFwSHT6gGSLPxL74XUx1U623iUlsAAAAASUVORK5CYII=") 0 0 no-repeat;
            background-position: 50%;
        }
    }
}