* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap {
    width: 60%;
    margin: auto;
}
.ellipsis {
    line-height: 16px;
    margin-bottom: 20px;
}
header {
    margin-bottom: 40px;
    text-align: center;
}
.calendar {
    display: flex;
    flex-direction: column;
}
.calendar-wrapper {
    margin: 30px;
}
.calendar-header {
    margin-bottom: 15px;
}
.calendar__month {
    display: table;
}
.calendar__week,
.calendar__week-header {
    display: table-row;
}
.calendar__day,
.calendar__day-header {
    display: table-cell;
    padding-right: 40px;
    padding-bottom: 35px;
}
.calendar__day._current,
.calendar__day-header._current {
    color: red;
}
.calendar__day._passed,
.calendar__day-header._passed {
    color: gray;
}
.calendar__day._clicked,
.calendar__day-header._clicked {
    color: deepskyblue;
}
.calendar__panel {
    display: flex;
    margin-bottom: 20px;
}
.calendar__panel-dates {
    display: flex;
    justify-content: center;
    min-width: 140px;
}
.calendar__panel-month {
    margin-right: 4px;
}
.calendar__panel-prev {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 20px;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAv0lEQVQoU42QvQrCQBCEZ04UBMEcGGzEyr/CH9DOJ4h5VDtB4hsoCNepENAitZCLWNm4ckIkWrnVsjMMOx83eroC2Zf0NglxfqAwjPQsIdmGyDmwpkdAcp0ROj68+omKDRGJQ2sGH9EtW7SqmddMqOiLyCG0ZuTuzF1rjLTyKrEz4Cn7e2bmH9GZlkCppmdXkhqC3X+iiy155RhKfcf+PHQMrRm+HypWASRepIUqBQiXwJruFwSHT6gGSLPxL74XUx1U623iUlsAAAAASUVORK5CYII=") 0 0 no-repeat;
    background-position: 50%;
    transform: rotate(-180deg);
}
.calendar__panel-next {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAv0lEQVQoU42QvQrCQBCEZ04UBMEcGGzEyr/CH9DOJ4h5VDtB4hsoCNepENAitZCLWNm4ckIkWrnVsjMMOx83eroC2Zf0NglxfqAwjPQsIdmGyDmwpkdAcp0ROj68+omKDRGJQ2sGH9EtW7SqmddMqOiLyCG0ZuTuzF1rjLTyKrEz4Cn7e2bmH9GZlkCppmdXkhqC3X+iiy155RhKfcf+PHQMrRm+HypWASRepIUqBQiXwJruFwSHT6gGSLPxL74XUx1U623iUlsAAAAASUVORK5CYII=") 0 0 no-repeat;
    background-position: 50%;
}
.calendar-months-wrapper,
.calendar-years-wrapper {
    display: none;
}

.calendar-years__year._current {
    color: red;
}

.calendar-months__month._current {
    color: red;
}